$header: 45px;
$title: 36px;
$subtitle: 22px;
$text: 16px;
$details: 14px;

$header-mb: 38px;
$title-mb: 26px;
$subtitle-mb: 20px;
$text-mb: 14px;
$details-mb: 12px;

$oscuro: #852747;
$primario: #a2416b;
$secundario: #f78a8a;
$claro: #fff1e7;
