.login {
  min-height: calc(100vh - 54px - 300px);
  margin-top: 56px;
}

.container-login {
  width: 90%;
  border-radius: 5px;
  padding: 2rem 0;
  @include tablet {
    max-width: 500px;
    width: 60%;
  }
}

.login-btn {
  background-color: #fff1e7;
  box-shadow: 0 7px 30px rgb(192, 192, 192);
  display: flex;
  margin: 0 auto 2.5rem auto;
  width: 80%;
  border-radius: 5px;
  padding: 5px 1rem;
  align-items: center;
  img {
    height: 1.5rem;
    margin-right: 1.5rem;
  }
  p {
    margin: 0;
  }
  @include tablet {
    img {
      height: 2rem;
    }
  }
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.login-email {
  width: 80%;
  margin: 0 auto;
  input {
    width: 100%;
    margin: 0 auto 2rem auto;
  }
}

.new-acount,
.new-psw {
  width: 80%;
  margin: auto auto;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgb(128, 128, 128);
  margin-bottom: 5rem;
  @include tablet {
    max-width: 400px;
    width: 50%;
    max-height: 600px;
  }
  .btn-crear {
    width: 60%;
    margin: 0 auto;
    &:hover {
      transform: scale(1.03);
    }
  }
}

.hide {
  display: none;
}

.btn-volver {
  margin: auto 0;
  padding: 0 5px;
  width: 70px;
  margin-left: 10%;
  &:hover {
    transform: scale(1.03);
  }
}

.btn-new-acount,
.btn-new-psw:hover {
  cursor: pointer;
}
